<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centered Card with Dropdown and Images</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{{ '/static/css/style.css' }}" />
</head>

<body>
    
    <div class="container-fluid row" style="height: 100vh; overflow: hidden;">
        <div class="col-3 overflow-scroll d-flex flex-column justify-content-center align-items-center bg-dark text-light">
                <h4 class="text-align-center">Receiver Address </h4>
                <ul class="list-group w-100">
                    {% for account in accounts %}
                    <li class="list-group-item w-100 ">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Ethereum-icon-purple.svg/2048px-Ethereum-icon-purple.svg.png"
                                alt="Option 1" class="img-fluid" width="30px" height="30px">
                                {{account.address}}
                    </li>
                    {% endfor %}
                </ul>
        </div>
        <div class="col-9 d-flex justify-content-center align-items-center">

            <div class="card text-center" id="card2" style="width: 60%;">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div>
                        {% if isConnected%}
                        <span class="status-circle status-connected"></span>
                        Connected
                        {% else %}
                        <span class="status-circle status-disconnected"></span>
                        Disconnect
                        {% endif %}
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Accounts
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for account in accounts %}
                            <a href={{"/changeAddress" + "?address="+ account.address}} style="text-decoration: none">
                                <span class=" dropdown-item ph-5">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Ethereum-icon-purple.svg/2048px-Ethereum-icon-purple.svg.png"
                                        alt="Option 1" class="img-fluid" width="30px" height="30px">
                                    {{account.address}}
                                </span>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card-body d-flex flex-column g-3 align-items-center gap-3">
                    <span class="card-rounded-span" id="accountAddress">{{senderAddress}}</span>
                    <h3 class="card-title" id="accountBalance">{{balance}} ETH</h3>
                    <div class="row justify-content-center w-100">
                        <div class="option-button col-12">
                            <form action="{{url_for('home', form='w1')}}" method="post" id="form1">
                                <h5>Receiver Address</h5>
                                <input type="hidden" name="senderAddress" id="senderAddress"
                                    value="{{senderAddress}}" />
                                <div class="row">    
                                    <div class="col-9">
                                        <input class="col-4 form-control w-100" type="text" placeholder="Receiver Address"
                                    name="receiverAddress" id="receiverAddress">
                                    </div>       
                                            
                                    <div class="col-3">    
                                        <input class="col-3 form-control w-100" type="text" placeholder="Amount"
                                        name="amount" id="amount"> 
                                    </div>                            </div>    
                                <button type="submit" class="btn btn-primary mt-2 w-50" onclick="sendTransaction()">
                                    <i class="bi bi-send"></i>
                                    Send
                                </button>
                            </form>
                        </div>
                    </div>
                    <div>Activity</div>
                    <div class="container transactionsContainer">
                        {% if transactions%}
                        {% for transaction in transactions%}
                        <hr/>
                            <div class="row justify-content-between g-2 w-100">
                            <div class="col-1">
                                <i class="bi bi-cloud-download text-primary"></i>
                            </div>
                            <div class="col-9 text-start " style="font-size: 14px;">
                                <h6>{{transaction['tnxType']}}</h6>
                                <div>
                                    <span class="text-success">Aug8</span>
                                    <span>From: {{transaction['from']}}</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <span class="badge bg-primary">{{transaction['value']}}</span>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer text-muted">
                    @Block Wallet
                </div>
            </div>
        </div>

    </div>
    <script>

        function selecteAddress(address, balance) {
            document.getElementById("accountAddress").innerHTML = address
            document.getElementById("accountBalance").innerHTML = balance + " ETH"
            document.getElementById("senderAddress").value = address

        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>